
.container{
    display: flex;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
 }
 .title{
     text-align: center;
     color: var(--color-headline);
 }

 .image{
     margin-left: 20px;
 }