.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 100px;
  margin-top:  50px;
}

.image{
  object-fit: cover;
  margin: 20px
}
 